TELEGRAM_TOKEN=your_bot_token_from_@BotFather
ADMIN_ID=your_telegram_id_0_if_unknown
PRO_DURATION_DAYS=30
PRO_PRICE_USDT=10
USDT_WALLET=TWusrKMaUrhkr3pFHx37sfnZCM9w6w3j1S
TRONGRID_API_KEY=your_tron_grid_api_key

# Канал для дайджеста (опционально)
CHANNEL_ID=your_channel_id_0_if_unused
